{% load i18n %}
{% load crispy_forms_tags %}


<ul>
    <li><a href={% url 'home' %}>{% trans "Inicio" %} </a>
    <li><a href={% url 'contacto' %}>{% trans "Contacto"%}</a>

    {% if request.user.is_authenticated %}
        <li type="submit"><a href={% url "logout" %}>{% trans "Cerrar Sesion" %}</a></li>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
        </ul>
                <button class="btn btn-info"> <a href={% url "profiles:profile" %}>{% trans "Ver mi Perfil" %}</a> </button>

        </form>
    {% else %}
            <li><a href={% url "registro" %}>{% trans "Registro" %}</a></li>
            <li><a href={% url "login" %}>{% trans "Login" %}</a></li>
    
        </ul>
    {% endif %}

<div class="row mt-2 mb-2">
    <div class="col-sm">
        {% for message in messages %}
            <div class="alert
                {% if message.tags %}
                    {% if message.tags == 'error' %}
                        alert-danger
                    {% else %}
                        alert-{{ message.tags }}
                    {% endif %}
                {% else %}
                    alert-info
                {% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
</div>
<hr>

