{% load crispy_forms_tags %}
{% load thumbnail %}
{% load i18n %}

<article id="{{ post.pk }}">
    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="d-flex justify-content-between p-2 px-3">
                        <div class="d-flex flex-row align-items-center"> 
                            <img src="{% thumbnail  request.user.profile.profile_picture 'small'  %}" width="50" class="rounded-circle">
                            <span class="font-weight-bold">{{ userprofile.user }}</span>
                        </div>
                        <div class="d-flex flex-row mt-1 ellipsis"> 
                            <small class="mr-2">Publicado el {{ post.created_at}}</small> 
                            <i class="fa fa-ellipsis-h"></i> 
                        </div>
                    </div> 
                    <img src="{% thumbnail  post.image 'medium'  %}" class="img-fluid">
                    <div class="p-2">
                        <p class="text-justify">{{ post.description }}  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>          
</article>

