{% extends "general/layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block h1_title %}Usuario logueado {{ request.user }}{% endblock %} 

{% load static %}
{% block page_content %}
    <div class="container mt-4 ">
        <div class="d-flex justify-content-center">
            <h1>Detalle de Perfil {{ userprofile.user }}</h1>
        </div>
    </div>
    <div class="container mt-4 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="d-flex justify-content-between p-2 px-3">
                        <div class="d-flex flex-row align-items-center"> <img src="{% thumbnail  userprofile.profile_picture 'small'  %}" width="50" class="rounded-circle">
                            <div class="d-flex flex-column ml-2"> <span class="font-weight-bold">{{ userprofile.user }}</span> <small class="text-primary">Collegues</small> </div>
                        </div>
                        <div class="d-flex flex-row mt-1 ellipsis">
                            {% if post.user == userprofile.user %}
                                <div class="container mt-4 ">
                                    <div class="d-flex justify-content-center">
                                    <button class="btn btn-info"><a href={% url 'posts:post_list' %}>{% trans "Dejar de Seguir" %}</a></button>
                                    </div>
                                </div> 
                            {% else %}
                                <div class="container mt-4 ">
                                    <div class="d-flex justify-content-center">
                                    <button class="btn btn-info"><a href={% url 'posts:post_list' %}>{% trans "Seguir" %}</a></button>
                                    </div>
                                </div>
                            {% endif %}
                            <i class="fa fa-ellipsis-h"></i> 
                        </div>
                    </div> <img src="{% thumbnail  userprofile.profile_picture 'medium'  %}" class="img-fluid">
                    <div class="p-2">
                        <p class="text-justify">{{ userprofile.bio }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if request.user.profile.pk == userprofile.pk %}
        <div class="container mt-4 ">
            <div class="d-flex justify-content-center">
            <button class="btn btn-warning"><a href={% url 'profiles:profile_update' userprofile.pk %}>{% trans "Actualizar" %}</a></button>
            <button class="btn btn-info"><a href={% url 'posts:post_list' %}>{% trans "Ver Publicaciones" %}</a></button>
            </div>
        </div>
        <div class="container mt-4 ">
            <div class="d-flex justify-content-center">
                <p> Numero de Seguidores: {{ userprofile.followers.count }}</p>
            </div>
        </div>
    {% endif %}
    {% if post.user == userprofile.user %}
        <div class="container mt-4 ">
            <div class="d-flex justify-content-center">
            <button class="btn btn-info"><a href={% url 'posts:post_list' %}>{% trans "Dejar de Seguir" %}</a></button>
            </div>
        </div>
        {% for post in publicaciones %}
            <div class="container mt-4 mb-5">
                <div class="row d-flex align-items-center justify-content-center">
                    <article id="{{ post.pk }}" class="m-3 ">
                        <p class="d-flex justify-content-center m-3"> Publicada el {{ post.created_at}} - {{ userprofile.followers.count }} Me gustas</p> 
                        <picture class="d-flex justify-content-center">
                            <img src="{% thumbnail  post.image 'medium'  %}" class="rounded-3 ">
                        </picture>
                        <p class="d-flex justify-content-center mt-3"> Comentario: {{ post.description }} </p>
                    </article>
                </div>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <div class="container mt-4 ">
            <div class="d-flex justify-content-center">
            <button class="btn btn-info"><a href={% url 'posts:post_list' %}>{% trans "Seguir" %}</a></button>
            </div>
        </div>
    {% endif %}
{% endblock %}