{% extends "general/layout.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Pagina de busqueda" %}{% endblock %}
{% block h1_title %}{% trans "Bienvenido a la pagina de Busqueda" %}{% endblock %} 

{% block page_content %}
    <p> {% trans "Contenido de la pagina de Busqueda" %}</p>
    <div>
        <form action="" method="get">
        {{ formulario|crispy }}
        <button class="btn btn-primary">{% trans "Enviar" %}</button><p></p>
        </form>
        {% comment %} Ha partir de aqui pedimos si esta en Request {% endcomment %}
        {% if request.GET %}
            <div>
            <h3> {% trans "Resultado" %} </h3>
            <hr>
            <h4> {% trans "Editoriales:" %} </h4>
            {% if editoriales %}
                <ul> 
                    {% for editorial in editoriales %}
                        <li><a href={% url 'editorial:detail' editorial.id %}>{{ editorial.nombre }} </a> </li>               
                    {% endfor %}
                </ul> 
            {% else%}   
                <p> {% trans "No existen Editoriales con los criterios de busqueda " %}</p>
            {% endif %}
                <h4> {% trans "Autores: " %}</h4>
            {% if  autores %}
                <ul> 
                    {% for autor in autores %}
                        <li><a href={% url 'autor:detail' autor.id %}>{{ autor.nombre }} </a></li>               
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans " No existen Autores con los criterios de busqueda " %}</p>
            {% endif %}
                
                <h4> {% trans "Libros: " %}</h4>
            {% if  libros %}
                <ul> 
                    {% for libro in libros %}
                        <li><a href={% url 'libro:detail' libro.id %}>{{ libro.titulo }} </a></li>               
                    {% endfor %}
                </ul>
            {% else %}
                <p> {% trans "No existen Libros con los criterios de busqueda" %} </p>
            {% endif %}
            </div>                
        {% endif %}
        
{% endblock %}
